{% extends 'inventory/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="m-3">
    <div class="bg-gray-100 p-4 shadow-md">
        <div class="md:flex">
            <div class="mb-3 md:mb-0 md:w-1/3 pl-3 pr-3">
                <label for="Filter"
                    class="block text-sm font-medium text-gray-700">Filter</label>
                <select id="Sfilterby" name="Sfilterby" required
                    class="mt-1 block w-full py-2 px-3 border-2 border-white bg-white rounded-md shadow-sm focus:outline-none focus:ring-slate-900 focus:border-slate-900 sm:text-sm">
                    <option></option>
                    {% for fieldsN in fieldS %}
                        {% if fieldsN.name != 'id' and fieldsN.name != 'description' and fieldsN.name != 'note' and fieldsN.name != 'stock' %}
                            <option>{{ fieldsN.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="md:w-1/3 pl-3 pr-3">
                <label for="Sstartwith"
                    class="block text-sm font-medium text-gray-700">Startwith</label>
                <input type="text" name="Sstartwith" id="Sstartwith" placeholder="Startwith"
                    required
                    class="px-3 py-2 mt-1 focus:ring-slate-900 focus:border-slate-900 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>
            <div class="mb-20 md:mb-0  md:w-1/3 pl-3 md:pr-3">
                <div class="flex float-right">
                    <div class="pr-3 mt-7">
                        <button type="submit" onclick='list()'
                            class="px-3 py-2 bg-blue-600  text-white rounded-md shadow-sm">
                            List
                        </button>
                    </div>                                   
                </div>
            </div>
            <script>
                function list(){
                    if ($("#Sfilterby").val() != null && $("#Sfilterby").val() != '') {
                        if ($("#Sstartwith").val() != null && $("#Sstartwith").val() != '') {

                            window.location.href = "{% url 'mainPage' %}?Sfilterby=" + $("#Sfilterby").val() + "&Sstartwith=" + $("#Sstartwith").val();                                                         

                            return false;


                        } else {
                            const Toast = Swal.mixin({
                                toast: true,
                                //position: 'top-end',
                                position: 'center',
                                showConfirmButton: false,
                                timer: 2000,
                                //timerProgressBar: true,
                                onOpen: (toast) => {
                                    toast.addEventListener('mouseenter', Swal.stopTimer)
                                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                                }
                            })
                            Toast.fire({
                                icon: 'info',
                                title: 'Start with cannot be blank'
                            })
                        }
                    } else {
                        const Toast = Swal.mixin({
                            toast: true,
                            //position: 'top-end',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            //timerProgressBar: true,
                            onOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })
                        Toast.fire({
                            icon: 'info',
                            title: 'Filter cannot be blank'
                        })
                    }
                }


                function itemdetails(id) {
                    console.log(id)
                                                                             

                    return false;
                }
            </script>
        </div>        
    </div>
</div>


<div>
    <h1>Render from API End Point</h1>
    <br/>
    <br/>
    <div class="tableFixHead">
        <table id="myTable1" class="w-full" >
            <thead>                                           
                <tr
                    class="text-md font-semibold tracking-wide text-center text-gray-900 bg-blue-400 uppercase border-b border-gray-600">
                    <th width="25%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">No</th>

                    {% for fieldsN in fieldS %}

                            {% if fieldsN.name == 'name' %}
                            <th width="25%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3" >NAME</th>
                            {% elif fieldsN.name == 'availability' %}
                            <th width="25%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">AVAILABILITY</th>
                            {% elif fieldsN.name == 'supplier' %}
                            <th width="25%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">SUPPLIER</th>
                            {% endif %}

                    {% endfor %}
                </tr>
            </thead>
            <tbody class="bg-white" id="table-list1">
                {% for response in responseS %}
                <tr class="text-gray-700">
                    <td class="px-4 py-3 border text-sm">{{ response.id }}</td>
                    <td class="px-4 py-3 border text-sm"><a href="inventory/{{response.id}}" ><b>{{ response.name }}</b></a></td>                                    
                    <td class="px-4 py-3 border text-sm">{{ response.availability }}</td>
                    {% if response.supplier %}
                        <td class="px-4 py-3 border text-sm">{{ response.supplier }}</td>
                    {% else %}
                        <td class="px-4 py-3 border text-sm">{{ response.supplier__name }}</td>
                    {% endif %} 
                </tr>
                {% empty %}
                    <tr><td style="text-align: center; vertical-align: middle;" class="px-4 py-3 border text-sm center" colspan="4">No Data Available</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div style="height: 100px;">

</div>
<div>
    <h1>Render from View Function</h1>
    <br/>
    <div class="tableFixHead">
        <table id="myTable2" class="w-full" >
            <thead>                                           
                <tr
                    class="text-md font-semibold tracking-wide text-center text-gray-900 bg-blue-400 uppercase border-b border-gray-600">
                    <th width="10%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">No</th>

                    {% for fieldsN in fieldS %}

                            {% if fieldsN.name == 'name' %}
                            <th width="10%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3" >NAME</th>
                            {% elif fieldsN.name == 'description' %}
                            <th width="20%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">DESCRIPTION</th>
                            {% elif fieldsN.name == 'note' %}
                            <th width="30%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">NOTE</th>
                            {% elif fieldsN.name == 'stock' %}
                            <th width="10%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">STOCK</th>
                            {% elif fieldsN.name == 'availability' %}
                            <th width="10%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">AVAILABILITY</th>
                            {% elif fieldsN.name == 'supplier' %}
                            <th width="10%" onclick="sortTable({{ forloop.counter0 }})" class="px-4 py-3">SUPPLIER</th>
                            {% endif %}

                    {% endfor %}
                </tr>
            </thead>
            <tbody class="bg-white" id="table-list2">
                {% for record in recordS %}
                <tr class="text-gray-700">
                    <td class="px-4 py-3 border text-sm">{{ record.id }}</td>
                    <td class="px-4 py-3 border text-sm"><a href="inventory/{{record.id}}" ><b>{{ record.name }}</b></a></td>                                    
                    <td class="px-4 py-3 border text-sm">{{ record.description }}</td> 
                    <td class="px-4 py-3 border text-sm">{{ record.note }}</td> 
                    <td class="px-4 py-3 border text-sm">{{ record.stock }}</td> 
                    <td class="px-4 py-3 border text-sm">{{ record.availability }}</td>
                    {% if record.supplier %}
                        <td class="px-4 py-3 border text-sm">{{ record.supplier }}</td>
                    {% else %}
                        <td class="px-4 py-3 border text-sm">{{ record.supplier__name }}</td>
                    {% endif %}
                </tr>
                {% empty %}
                    <tr><td style="text-align: center; vertical-align: middle;" class="px-4 py-3 border text-sm center" colspan="7">No Data Available</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}