{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KIRATECH</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="p-10 border-none shadow-lg">
            <div class="max-w-md w-full space-y-14">
                <div>
                    <img src="{% static "image/kiratech_logo.png" %}" alt="kiratech_logo" class="mx-auto h-12 w-auto"/>
                    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                        KIRATECH
                    </h2>
                </div>
                <div>
                    <h3 class="mt-6 text-center text-2xl font-extrabold text-gray-900">
                        Inventory Management System
                    </h3>
                </div>
                <form class="mt-8 space-y-6" action='{% url 'login' %}' method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="remember" value="true">
                    <div class="rounded-md shadow-sm -space-y-px">
                        <div>
                            <label for="username" class="sr-only">Username</label>
                            <input id="username" name="username" type="text" autocomplete="username" required
                                class="mb-2 block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-sm focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm"
                                placeholder="Username">
                        </div>
                        <div class="m-2"></div>
                        <div>
                            <label for="password" class="sr-only">Password</label>
                            <input id="password" name="password" type="password" autocomplete="current-password" required
                                class="mt-2 block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-sm focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm"
                                placeholder="Password">
                        </div>
                        <div class="m-2"></div>
                        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                        <div>
                            <h2 class="mt-6 text-center text-sm font-medium text-red-600">
                                {{ error|escape }}
                            </h2>
                        </div>
                        {% endfor %} {% endif %}
                    </div>
                    <div>
                        <button type="submit"
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-slate-900 ">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% load sweetify %}
    {% sweetify %}
</body>

</html>